.stepper-container {
  text-align: center;
  margin: 20px 0;
}


.stepper-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.stepper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.stepper-box {
  display: flex;
  justify-content: space-between;
}


.stepper-step {
  text-align: center;
}


.stepper-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin: 0 auto;
}


.stepper-circle.active {
  background-color: #f0f0f0;
  border: 2px solid orangered;
}


.stepper-circle.completed {
  background-color: #f0f0f0;
  border: 2px solid #28a745;
}


.stepper-circle.pending {
  background-color: #f0f0f0;
  border: 2px solid lightgray;
}


.inner-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}


.inner-dot.dot-active {
  background-color: orangered;
}


.inner-dot.dot-completed {
  background-color: #28a745;
}


.inner-dot.dot-pending {
  background-color: lightgray;
}


.step-label {
  margin-top: 5px;
  font-size: 12px;
}


.step-title {
  font-size: 14px;
  font-weight: 500;
}


.step-status {
  font-size: 12px;
  margin-top: 4px;
}


.step-status.completed {
  color: #28a745;
}


.step-status.active {
  color: orangered;
}


.step-status.pending {
  color: #6c757d;
}


.step-line {
  width: 30px;
  height: 2px;
  background-color: lightgray;
  margin: 0 auto;
  margin-top: 10px;
}


.step-line.line-completed {
  background-color: #28a745;
}


.step-line.line-active {
  background-color: orangered;
}


.step-line.line-pending {
  background-color: lightgray;
}


.line {
  width: 20vh;
  height: 2px;
  background-color: lightgray;
}


.line.line-completed {
  background-color: #28a745;
}


.line.line-active {
  background-color: orangered ;
 
}


.line.line-pending {
  background-color: lightgray;
}


.navigation-buttons {
  margin-top: 20px;
}


.navigation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.navigation-buttons button:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}



